.dropdown.popup_theme_clean
{
    transition: visibility .1s linear, opacity .1s linear;
    animation-duration: .1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}
